
    <div id="top">
        <div class="container">
            <div class="row">
              <h1>Bienvenido a JuggerLeague</h1>
                <div class="col-xs-5 contact">
                    <p class="hidden-sm hidden-xs">Liga de robótica</p>
                    <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
                <div class="col-xs-7">

                    <% if ( user ) { %>


                    <div class="login">
                      <a href="/config"><i class="fa fa-cog"></i> <span class="hidden-xs text-uppercase">Configuración</span></a>
                        <a href="/logout"><i class="fa fa-sign-out"></i> <span class="hidden-xs text-uppercase">Salir</span></a>

                    </div>
                <% } else { %>
                  <div class="social">
                      <a href="/oauth/facebook" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>

                  </div>
                  <div class="login">
                      <a href="/register"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Registrarse</span></a>
                      <a href="/login"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Identificarse</span></a>
                  </div>
                <% } %>



                </div>
            </div>
        </div>
    </div>
