<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <script src='/socket.io/socket.io.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>

</head>

<body>
  <!--CABECERA---------------------------->
  <% include partials/cabecera %>


<!--Si hay un usuario conectado-->
 <% if ( tipo=="administrador" ) { %>
<!-- BARRA NAVEGACIÓN---------------------------->
<% include partials/barranav %>

        <h2>Hola señor administrador, aqui puedes ver lo que estan retransmitiendo en streaming</h2>

<% } else if ( tipo=="usuario" ) { %>
<!-- BARRA NAVEGACIÓN---------------------------->
<% include partials/barranav %>

    <h2>Hola usuario, aqui puedes ver el streaming </h2>
    <div id='all' class='all'>
      <div id="fullContent" class="fullContent">
      </div>
    </div>

    <script>

    <h2>Hola desconocido, puedes ver el streaming sin tener cuenta </h2>
    <div id='all' class='all'>
      <div id="fullContent" class="fullContent">
      </div>
    </div>

    <script>
      var socket = io.connect('http://localhost:1337');
      var source = "img";
      var users;

      socket.emit('newConnection', {isEmitter : false, name : undefined});

      socket.on('stopStreaming',function(data){
        var all = document.getElementById("all").innerHTML = "";
        $( ".all" ).append( '<div id=\'fullContent\' class=\'fullContent\'><div>' );
      })

      socket.on('updateUsers',function(data){
        users = data;
        var fullContent = document.getElementById("fullContent").innerHTML = "";
        if(fullContent!=null){
          for(var i=0;i<users.length;i++){
          $( ".fullContent" ).append( "<p>Usuario " + users[i] + " emitiendo</p> <button type=\"button\" id=\"" + users[i] + "\" onclick=\"verStreaming\(\'" + users[i] + "\'\)\">Visualizar</button>");
          }
        }
      });

      function verStreaming(name){
        var all = document.getElementById("all").innerHTML = "";
        $( ".all" ).append( '<img id=\"stream\" \/>' );
      }

      socket.on('sendStream',function(data){
        var stream = document.getElementById('stream');
        if(stream!=null){
          stream.src = data.capture;
        }
      });

    </script>

<% } else { %>

			<h2>Hola desconocido, puedes ver el streaming sin tener cuenta </h2>
      <div id='all' class='all'>
        <div id="fullContent" class="fullContent">
        </div>
      </div>

      <script>
        var socket = io.connect('http://localhost:1337');
        var source = "img";
        var users;

        socket.emit('newConnection', {isEmitter : false, name : undefined});

        socket.on('stopStreaming',function(data){
          var all = document.getElementById("all").innerHTML = "";
          $( ".all" ).append( '<div id=\'fullContent\' class=\'fullContent\'><div>' );
        })

        socket.on('updateUsers',function(data){
          users = data;
          var fullContent = document.getElementById("fullContent").innerHTML = "";
          if(fullContent!=null){
            for(var i=0;i<users.length;i++){
            $( ".fullContent" ).append( "<p>Usuario " + users[i] + " emitiendo</p> <button type=\"button\" id=\"" + users[i] + "\" onclick=\"verStreaming\(\'" + users[i] + "\'\)\">Visualizar</button>");
            }
          }
        });

        function verStreaming(name){
          var all = document.getElementById("all").innerHTML = "";
          $( ".all" ).append( '<img id=\"stream\" \/>' );
        }

        socket.on('sendStream',function(data){
          var stream = document.getElementById('stream');
          if(stream!=null){
            stream.src = data.capture;
          }
        });

      </script>

<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
