<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>


</head>

<body>

<!--CABECERA---------------------------->
  <% include partials/cabecera %>


<!--Si hay un usuario conectado-->
 <% if ( tipo=="administrador" ) { %>
<!-- BARRA NAVEGACIÓN---------------------------->
<% include partials/barranav %>

        <h2>Desde aquí se va a poder realizar streaming</h2>
<% }  %>

<% if ( tipo=="usuario" ) { %>
<!-- BARRA NAVEGACIÓN---------------------------->
<% include partials/barranav %>

  <h2>Hola <%=tipo%>, esta es la pag principal </h2>
  <button type="button" id="exitButton">Terminar Streaming</button>
  <script>
    var c;
    var video;
    var socket = io.connect('http://localhost:1337');
    var id = null;
    var users;
    var userName;

    console.log('Aqui estoy');
    socket.emit('newConnection', {isEmitter : true , name : "New Emitter"});   //Enviar como name el nombre del usuario

    socket.on('userName', function(data){
      userName = data;
    });

    socket.on('updateUsers',function(data){
      users = data;
    });

    function setup(){
      c = createCanvas(640,480);
      video = createCapture(VIDEO);
      video.size(640,480);
      video.hide();
    }
    function draw(){
      image(video,0,0,640,480);
      if(frameRate()> 55){
        socket.emit('sendStream',{name:userName,capture:c.canvas.toDataURL()});
      }
    }

    document.getElementById("exitButton").onclick = function () {
      socket.emit('closeConnection',userName);
      location.href = "http://localhost:1337";
    };

  </script>

<% } %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
